<% provide(:title, "Edit") %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>スタッフ情報の更新</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages', object: @user %>
    
      <%= f.label :name, class: "label-#{yield(:class_text)}" %>
      <%= f.text_field :name, class: "form-control" %>
    
      <%= f.label :email, class: "label-#{yield(:class_text)}" %>
      <%= f.email_field :email, class: "form-control" %>
      
      <% if current_user.admin == false %>
        <h3 class="skill-check-title">スキルチェック</h3>

        <div class="row skill-check-area">
          <div class="col-xs-4 skill-check-item">
            <%= f.label :kitchen, class: "skill-check-kitchen" %>
            <%= f.check_box :kitchen, class: "skill-check" %>
          </div>
          <div class="col-xs-4 skill-check-item">
            <%= f.label :hole %>
            <%= f.check_box :hole, class: "skill-check" %>
          </div>
          <div class="col-xs-4 skill-check-item">
            <%= f.label :wash %>
            <%= f.check_box :wash, class: "skill-check" %>
          </div>
        </div>
      <% end %>
    
      <%= f.label :password, class: "label-#{yield(:class_text)}" %>
      <%= f.password_field :password, class: "form-control" %>
    
      <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
    
      <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
    <% end %>
  </div>
</div>