<% provide(:title, "チュートリアル") %>
<em>
  <% if current_user.admin? %>
    <br>
    <h1><b>1.出退勤登録<b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com/embed/plB1fQDdef0",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
    <h1><b>2.出退勤管理<b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com/watch?v=plB1fQDdef0&feature=youtu.be",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
    <h1><b>️3.シフト管理</b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
    <h1><b>️4.スタッフ管理</b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com/embed//MhrvquDNqEQ",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
    <h1><b>️5.給与管理️</b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
  <br>
  <h1><b>6.シフト確認</b></h1>
  <% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "https://www.youtube.com",
    frameborder: 0,
    allowfullscreen: true
  ) %>
  <%= content_tag(:div, iframe, class: 'center youtube-container') %>
  <br>
  <h1><b>7.シフト申請</b></h1>
  <% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "https://www.youtube.com",
    frameborder: 0,
    allowfullscreen: true
  ) %>
  <%= content_tag(:div, iframe, class: 'center youtube-container') %>
  <br>
  <h1><b>8.パスワード再設定</b></h1>
  <% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "https://www.youtube.com/embed/A_49nyWqiiM",
    frameborder: 0,
    allowfullscreen: true
  ) %>
  <%= content_tag(:div, iframe, class: 'center youtube-container') %>
  <% else %>
   <br>
    <h1><b>1.シフト確認</b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com/embed/plB1fQDdef0",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
    <h1><b>2.シフト申請</b></h1>
    <% iframe = content_tag(
      :iframe,
      '', # empty body
      width: 560,
      height: 315,
      src: "https://www.youtube.com",
      frameborder: 0,
      allowfullscreen: true
    ) %>
    <%= content_tag(:div, iframe, class: 'center youtube-container') %>
    <br>
  <h1><b>3.パスワード再設定</b></h1>
  <% iframe = content_tag(
    :iframe,
    '', # empty body
    width: 560,
    height: 315,
    src: "https://www.youtube.com/embed/A_49nyWqiiM",
    frameborder: 0,
    allowfullscreen: true
  ) %>
  <%= content_tag(:div, iframe, class: 'center youtube-container') %>
  <% end %>
</em>