<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="add-shift-title">シフト追加</div>
          <%= form_with(model: @shift, url: add_update_user_shift_path(@staff, @shift), local: true) do |f| %>
            <table class="table table-bordered table-condensed" id="edit-shift-table">
              <tr>
                <th width=25%>日付</th>
                <th width=25%>ポジション</th>
                <th>名前</th>
              </tr>
              <tr>
                <td><%= @shift.worked_on.strftime('%-m/%-d') %></td>
                <td><%= put_position(@staff) %></td>
                <td><%= @staff.name %></td>
              </tr>
              <tr>
                <th>出勤時間</th>
                <th>退勤時間</th>
                <th>管理者コメント</th>
              </tr>
              <tr>
                <td><%= f.select :start_time, options_for_select($work_time_breaks, @shift.start_time), {prompt: "時刻を選択"}, class: "form-control" %></td>
                <td><%= f.select :end_time, options_for_select($work_time_breaks, @shift.end_time), {prompt: "時刻を選択"}, class: "form-control" %></td>
                <td><%= f.text_field :from_admin_msg, placeholder: "50文字以内", class: "form-control" %></td>
              </tr>
            </table>
            <div class="add-shift-btn-area">
              <%= f.submit "追加する", class: "btn btn-md btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>