<% if params[:current] %>
  <% provide(:edit_url, user_shift_path(@staff, @shift, current: true)) %>
  <% provide(:remove_url, user_shift_path(current_user, current: true, remove: true)) %>
<% elsif params[:date] %>
  <% provide(:edit_url, user_shift_path(@staff, @shift, date: params[:date])) %>
  <% provide(:remove_url, user_shift_path(current_user, date: params[:date], remove: true)) %>
<% elsif params[:staff] %>
  <% provide(:edit_url, user_shift_path(@staff, @shift, staff: params[:staff])) %>
  <% provide(:remove_url, user_shift_path(current_user, staff: params[:staff], remove: true)) %>
<% else %>
  <% provide(:edit_url, user_shift_path(@staff, @shift)) %>
  <% provide(:remove_url, user_shift_path(current_user, remove: true)) %>
<% end %>

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <div class="edit-shift-title">シフト編集</div>
          <%= form_with(model: @shift, url: yield(:edit_url), local: true) do |f| %>
            <table class="table table-bordered table-condensed" id="edit-shift-table">
              <tr>
                <th width=20%>日付</th>
                <th width=20%>ポジション</th>
                <th>名前</th>
              </tr>
              <tr>
                <td><%= @shift.worked_on.strftime('%-m/%-d') %></td>
                <td><%= put_position(@staff) %></td>
                <td><%= @staff.name %></td>
              </tr>
              <tr>
                <th>希望開始時間</th>
                <th>希望退勤時間</th>
                <th>従業員コメント</th>
              </tr>
              <tr>
                <td>
                  <% if @shift.request_start_time.present? %>
                    <%= @shift.request_start_time %>
                  <% else %>
                  --
                  <% end %>
                </td>
                <td>
                  <% if @shift.request_end_time.present? %>
                    <%= @shift.request_end_time %>
                  <% else %>
                  --
                  <% end %>
                </td>
                <td><%= @shift.from_staff_msg %></td>
              </tr>
              <tr>
                <th>出勤時間</th>
                <th>退勤時間</th>
                <th>管理者コメント</th>
              </tr>
              <tr>
                <td><%= f.select :start_time, options_for_select({"10:00": "10:00", "10:30": "10:30",
                      "11:00": "11:00", "11:30": "11:30", "12:00": "12:00", "12:30": "12:30", "13:00": "13:00",
                      "13:30": "13:30", "14:00": "14:00", "14:30": "14:30","15:00": "15:00", "15:30": "15:30",
                      "16:00": "16:00", "16:30": "16:30", "17:00": "17:00","17:30": "17:30", "18:00": "18:00",
                      "18:30": "18:30", "19:00": "19:00", "19:30": "19:30", "20:00": "20:00", "20:30": "20:30",
                      "21:00": "21:00", "21:30": "21:30", "22:00": "22:00", "22:30": "22:30", "23:00": "23:00",
                      "23:30": "23:30", "ラスト": "ラスト"}, @shift.start_time), {}, class: "form-control" %>
                </td>
                <td><%= f.select :end_time, options_for_select({"10:00": "10:00", "10:30": "10:30",
                      "11:00": "11:00", "11:30": "11:30", "12:00": "12:00", "12:30": "12:30", "13:00": "13:00",
                      "13:30": "13:30", "14:00": "14:00", "14:30": "14:30","15:00": "15:00", "15:30": "15:30",
                      "16:00": "16:00", "16:30": "16:30", "17:00": "17:00","17:30": "17:30", "18:00": "18:00",
                      "18:30": "18:30", "19:00": "19:00", "19:30": "19:30", "20:00": "20:00", "20:30": "20:30",
                      "21:00": "21:00", "21:30": "21:30", "22:00": "22:00", "22:30": "22:30", "23:00": "23:00",
                      "23:30": "23:30", "ラスト": "ラスト"}, @shift.end_time), {}, class: "form-control" %>
                </td>
                <td><%= f.text_field :from_admin_msg, class: "form-control" %></td>
              </tr>
            </table>
            <div class="edit-shift-btn-area">
              <%= f.submit "編集する", class: "btn btn-md btn-primary" %>
              <button data-dismiss="modal" class="btn btn-md btn-default">キャンセル</button>
              <%= link_to "シフトから外す", yield(:remove_url), method: :patch, class: "btn btn-md btn-default" %>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>