<% provide(:title, "Apply Shifts") %>
<%= form_with(model: @user, url: shifts_update_next_shifts_user_path,
    local: true, method: :patch) do |f| %>
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="apply-period-area">
        <% if Date.current.day <= 15 %>
          <%= @first_day.year %>年<%= @first_day.month %>月後半のシフト申請
        <% else %>
          <%= @first_day.year %>年<%= @first_day.month %>月前半のシフト申請
        <% end %>
        <br>申請可能期間：<%= @start_apply_day.strftime('%-m/%-d') %>～<%= @end_apply_day.strftime('%-m/%-d') %>
        <% if @shifts[0].apply_day.present? %>
          <span class="display-apply-day">最終申請日：<%= @shifts[0].apply_day.strftime('%-m/%-d') %></span>
        <% else %>
          <span class="no-apply">未申請</span>
        <% end %>
      </div>
      <table class="table table-bordered table-condensed table-hover" id="apply-shifts-table">
        
        <thead>
          <tr>
            <th width=8%>日時</th>
            <th>希望出勤時間</th>
            <th>希望退勤時間</th>
            <th width=30%>備考</th>
          </tr>
        <thead>
        
        <tbody>
        <% @shifts.each do |day| %>
          <%= f.fields_for "shifts[]", day do |shift| %>
            <tr>
              <% if day.worked_on.wday == 6 %>
                <td class="blue"><%= day.worked_on.strftime('%-m/%-d') %> (<%= $days_of_the_week[day.worked_on.wday] %>)</td>
              <% elsif day.worked_on.wday == 0 %>
                <td class="red"><%= day.worked_on.strftime('%-m/%-d') %> (<%= $days_of_the_week[day.worked_on.wday] %>)</td>
              <% else %>
                <td><%= day.worked_on.strftime('%-m/%-d') %> (<%= $days_of_the_week[day.worked_on.wday] %>)</td>
              <% end %>
              <td>
                <%= shift.select :request_start_time, options_for_select({"10:00": "10:00", "10:30": "10:30",
                    "11:00": "11:00", "11:30": "11:30", "12:00": "12:00", "12:30": "12:30", "13:00": "13:00",
                    "13:30": "13:30", "14:00": "14:00", "14:30": "14:30","15:00": "15:00", "15:30": "15:30",
                    "16:00": "16:00", "16:30": "16:30", "17:00": "17:00","17:30": "17:30", "18:00": "18:00",
                    "18:30": "18:30", "19:00": "19:00", "19:30": "19:30", "20:00": "20:00", "20:30": "20:30",
                    "21:00": "21:00", "21:30": "21:30", "22:00": "22:00", "22:30": "22:30", "23:00": "23:00",
                    "23:30": "23:30", "ラスト": "ラスト"},day.request_start_time),
                    {include_blank: "時刻を選択"}, class: "form-control" %>
              </td>
              <td>
                <%= shift.select :request_end_time, options_for_select({"10:00": "10:00", "10:30": "10:30",
                    "11:00": "11:00", "11:30": "11:30", "12:00": "12:00", "12:30": "12:30", "13:00": "13:00",
                    "13:30": "13:30", "14:00": "14:00", "14:30": "14:30","15:00": "15:00", "15:30": "15:30",
                    "16:00": "16:00", "16:30": "16:30", "17:00": "17:00","17:30": "17:30", "18:00": "18:00",
                    "18:30": "18:30", "19:00": "19:00", "19:30": "19:30", "20:00": "20:00", "20:30": "20:30",
                    "21:00": "21:00", "21:30": "21:30", "22:00": "22:00", "22:30": "22:30", "23:00": "23:00",
                    "23:30": "23:30", "ラスト": "ラスト"},day.request_end_time),
                    {include_blank: "時刻を選択"}, class: "form-control" %>
              </td>
              <td>
                <%= shift.text_field :from_staff_msg, class: "form-control" %>
                <%= shift.hidden_field :start_time, value: "" %>
                <%= shift.hidden_field :end_time, value: "" %>
                <%= shift.hidden_field :apply_day, value: Date.current %>
              </td>
            </tr>
          <% end %>
        <% end %>
        </tbody>
        
      </table>
      <div class="btn-apply-shifts-area"><%= f.submit "シフト申請", class: "btn btn-lg btn-primary" %></div>
    </div>
  </div>
<% end %>