<% provide(:title, "Confirm Shifts") %>

<div class="row">
  <div class="col-xs-12 col-md-2 btn-switch-shifts">
    <%= link_to "現在のシフト", shifts_current_shifts_user_path(@user), class: "btn btn-lg btn-primary" %>
  </div>
  
  <div class="col-xs-12 col-md-8 next-shifts-title">
    <% if Date.current.day <= 15 %>
      <%= @first_day.month %>月後半のシフト作成
    <% else %>
      <%= @first_day.month %>月前半のシフト作成
    <% end %>
    <br>申請受付期間：<%= @start_apply_day.strftime('%-m/%-d') %>～<%= @end_apply_day.strftime('%-m/%-d') %>
    <span class="create-limit">
      作成期間：<%= @start_create_day.strftime('%-m/%-d') %>～<%= @end_create_day.strftime('%-m/%-d') %>
    </span>
  </div>
  <div class="col-xs-12 col-md-2 release-shifts-btn-area">
    <% if !within_submission_deadline? && @admins_shift.release == false %>
      <%= link_to "公開する", shifts_change_release_status_user_path(@user), method: :patch, class: "btn btn-lg btn-primary" %>
    <% elsif !within_submission_deadline? && @admins_shift.release == true %>
      <%= link_to "非公開にする", shifts_change_release_status_user_path(@user), method: :patch, class: "btn btn-lg btn-primary" %>
    <% else %>
      <%= link_to "公開する", "#", disabled: true, class: "btn btn-default btn-lg" %>
    <% end %>
  </div>
</div>

<table class="table table-bordered table-condensed" id="next-shifts-table">
  <tr>
    <th width=8%>ポジション</th>
    <th>スタッフ名</th>
    <% @next_shifts.each do |day| %>
      <% if day.wday == 6 %>
        <th width=5% class="blue"><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
      <% elsif day.wday == 0 %>
        <th width=5% class="red"><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
      <% else %>
        <th width=5%><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
      <% end %>
    <% end %>
  </tr>
  
  <% @kitchen_staffs.each do |staff| %>
    <tr>
      <td>キッチン</td>
      <td><%= link_to staff.name, staff %></td>
      <% @next_shifts.each do |day| %>
        <% if start_and_end_time_of_shift(staff, day) %>
          <td>
            <% if params[:date] && params[:date].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, date: params[:date]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% elsif params[:staff] && params[:staff].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, staff: params[:staff]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% else %>
              <%= link_to(edit_user_shift_path(staff, @shift), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  
  <% @hole_staffs.each do |staff| %>
    <tr>
      <td>ホール</td>
      <td><%= link_to staff.name, staff %></td>
      <% @next_shifts.each do |day| %>
        <% if start_and_end_time_of_shift(staff, day) %>
          <td>
            <% if params[:date] && params[:date].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, date: params[:date]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% elsif params[:staff] && params[:staff].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, staff: params[:staff]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% else %>
              <%= link_to(edit_user_shift_path(staff, @shift), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  
  <% @wash_staffs.each do |staff| %>
    <tr>
      <td>洗い場</td>
      <td><%= link_to staff.name, staff %></td>
      <% @next_shifts.each do |day| %>
        <% if start_and_end_time_of_shift(staff, day) %>
          <td>
            <% if params[:date] && params[:date].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, date: params[:date]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% elsif params[:staff] && params[:staff].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, staff: params[:staff]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% else %>
              <%= link_to(edit_user_shift_path(staff, @shift), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  
  <% @newcomer_staffs.each do |staff| %>
    <tr>
      <td>未登録</td>
      <td><%= link_to staff.name, staff %></td>
      <% @next_shifts.each do |day| %>
        <% if start_and_end_time_of_shift(staff, day) %>
          <td>
            <% if params[:date] && params[:date].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, date: params[:date]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% elsif params[:staff] && params[:staff].present? %>
              <%= link_to(edit_user_shift_path(staff, @shift, staff: params[:staff]), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% else %>
              <%= link_to(edit_user_shift_path(staff, @shift), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            <% end %>
          </td>
        <% else %>
          <td></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-5 search-shift-tittle"><p class="search-shift">日毎に作成：</p></div>
      <div class="col-md-6">
        <%= form_with url: shifts_applying_next_shifts_user_path(@user), method: :get, local: true do |f| %>
          <div class="col-xs-9 search-shift-form-left">
            <%= f.date_field :date, min: @first_day, max: @last_day, class: "form-control" %>
          </div>
          <div class="col-xs-3 search-shift-form-right">
            <%= f.submit "検索", class: "btn btn-md btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    
  <div class="col-md-6">
    <div class="row"> 
      <div class="col-md-5 search-shift-tittle"><p class="search-shift">スタッフ毎に作成：</p></div>
      <div class="col-md-6">
        <%= form_with url: shifts_applying_next_shifts_user_path(@user), method: :get, local: true do |f| %>
          <div class="col-xs-9 search-shift-form-left">
            <%= f.collection_select(:staff, @staffs, :id, :name, {prompt: "スタッフを選択"},
                  {class: "form-control"}) %>
          </div>
          <div class="col-xs-3 search-shift-form-right">
            <%= f.submit "検索", class: "btn btn-md btn-block btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if params[:date] && params[:date].present? %>
  <div class="applying-shift-date"><%= l(@date, format: :long) %>の申請中シフト一覧</div>

  <% if @shifts.count > 0 %>
    <%= form_with(model: @user, url: shifts_confirm_next_shifts_user_path(date: params[:date]), local: true, method: :patch) do |f| %>
      <table class="table table-bordered table-condensed" id="applying-shifts-table-date">
        <tr>
          <th width=10%>ポジション</th>
          <th width=10%>スタッフ名</th>
          <th width=9%>希望出勤時間</th>
          <th width=9%>希望退勤時間</th>
          <th width=19%>従業員コメント</th>
          <th width=12%>出勤時間</th>
          <th width=12%>退勤時間</th>
          <th width=19%>管理者コメント</th>
        </tr>
        <% @shifts.each do |obj| %>
          <%= f.fields_for "shifts[]", obj do |shift| %>
            <% find_user_by_shift(obj) %>
            <tr>
              <td><%= put_position(@staff) %></td>
              <td><%= @staff.name %></td>
              <td><%= obj.request_start_time %></td>
              <td><%= obj.request_end_time %></td>
              <td><%= obj.from_staff_msg %></td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.select :start_time, options_for_select({"時刻を選択": "時刻を選択"}),
                      {}, class: "form-control", disabled: true %>
                <% else %>
                  <%= shift.select :start_time, options_for_select($work_time_breaks, obj.start_time),
                        {include_blank: "時刻を選択"}, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.select :end_time, options_for_select({"時刻を選択": "時刻を選択"}),
                      {}, class: "form-control", disabled: true %>
                <% else %>
                  <%= shift.select :end_time, options_for_select($work_time_breaks, obj.end_time),
                      {include_blank: "時刻を選択"}, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.text_field :from_admin_msg, class: "form-control shift-placeholder", readonly: true, placeholder: "50文字以内で入力して下さい" %>
                <% else %>
                  <%= shift.text_field :from_admin_msg, class: "form-control shift-placeholder", placeholder: "50文字以内で入力して下さい" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <% unless within_submission_deadline? %>
        <div class="btn-confirm-shifts-area"><%= f.submit "シフトに反映", class: "btn btn-lg btn-primary" %></div>
      <% end %>
    <% end %>
  <% else %>
    <div class="no-shift-comment">申請中シフトがありません</div>
  <% end %>
<% end %>

<% if params[:staff] && params[:staff].present? %>
  <div class="applying-shift-staff">
    <%= User.find(params[:staff]).name %>の申請中シフト一覧
  </div>
  
  <% if @shifts.count > 0 %>
    <%= form_with(model: @user, url: shifts_confirm_next_shifts_user_path(staff: params[:staff]), local: true, method: :patch) do |f| %>
      <table class="table table-bordered table-condensed" id="applying-shifts-table-staff">
        <tr>
          <th width=7%>日付</th>
          <th width=10%>ポジション</th>
          <th width=9%>希望出勤時間</th>
          <th width=9%>希望退勤時間</th>
          <th width=20%>従業員コメント</th>
          <th width=12%>出勤時間</th>
          <th width=12%>退勤時間</th>
          <th width=21%>管理者コメント</th>
        </tr>
        <% @shifts.each do |obj| %>
          <%= f.fields_for "shifts[]", obj do |shift| %>
            <tr>
              <td><%= obj.worked_on.strftime('%-m/%-d') %> (<%= $days_of_the_week[obj.worked_on.wday] %>)</td>
              <td><% find_user_by_shift(obj) %><%= put_position(@staff) %></td>
              <td><%= obj.request_start_time %></td>
              <td><%= obj.request_end_time %></td>
              <td><%= obj.from_staff_msg %></td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.select :start_time, options_for_select({"時刻を選択": "時刻を選択"}),
                      {}, class: "form-control", disabled: true %>
                <% else %>
                  <%= shift.select :start_time, options_for_select($work_time_breaks, obj.start_time),
                      {include_blank: "時刻を選択"}, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.select :end_time, options_for_select({"時刻を選択": "時刻を選択"}),
                      {}, class: "form-control", disabled: true %>
                <% else %>
                  <%= shift.select :end_time, options_for_select($work_time_breaks, obj.end_time),
                      {include_blank: "時刻を選択"}, class: "form-control" %>
                <% end %>
              </td>
              <td>
                <% if within_submission_deadline? %>
                  <%= shift.text_field :from_admin_msg, placeholder: "50文字以内", class: "form-control", readonly: true %>
                <% else %>
                  <%= shift.text_field :from_admin_msg, placeholder: "50文字以内", class: "form-control" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
      <% unless within_submission_deadline? %>
        <div class="btn-confirm-shifts-area"><%= f.submit "シフトに反映", class: "btn btn-lg btn-primary" %></div>
      <% end %>
    <% end %>
  <% else %>
    <div class="no-shift-comment">申請中シフトがありません</div>
  <% end %>
<% end %>

<div class="modal fade" id="edit-shift-modal" tabindex="-1"></div>