<% provide(:title, "Current Shifts") %>

<div class="row">
  <div class="col-xs-12 col-md-2 switch-shifts-btn-area">
    <% if @user.admin? %>
      <%= link_to "次回のシフト作成", shifts_applying_next_shifts_user_path(@user), class: "btn btn-lg btn-primary" %>
    <% elsif @admins_shift && @admins_shift.release == true %>
      <%= link_to "次回のシフト", shifts_next_shifts_user_path(@user), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
  
  <div class="col-xs-12 col-md-10 current-shifts-title">
    <% if @user.admin? && @first_day != Date.current.prev_month.prev_month.beginning_of_month %>
      <%= link_to "＜", shifts_current_shifts_user_path(@user, date: prev_first_day), class: "btn btn-md btn-primary" %>
    <% elsif @user.admin? %>
      <%= link_to "＜", shifts_current_shifts_user_path(@user, date: prev_first_day), disabled: false, class: "btn btn-md btn-default disabled" %>
    <% end %>
    <% if @first_day.day <= 15 %>
      <%= @first_day.month %>月前半のシフト
    <% else %>
      <%= @first_day.month %>月後半のシフト
    <% end %>
    <% if @user.admin? && current_shifts? %>
      <%= link_to "＞", shifts_current_shifts_user_path(@user, date: next_first_day), class: "btn btn-md btn-primary" %>
    <% elsif @user.admin? %>
      <%= link_to "＞", shifts_current_shifts_user_path(@user, date: next_first_day), class: "btn btn-md btn-default disabled" %>
    <% end %>
    <br><%= @first_day.strftime('%-m/%-d') %>～<%= @last_day.strftime('%-m/%-d') %>
  </div>
</div>

<div class="current-shifts-table-flame">
  <table class="table table-bordered table-condensed" id="current-shifts-table">
    <tr>
      <th width=8%>ポジション</th>
      <th>スタッフ名</th>
      <% @current_shifts.each do |day| %>
        <% if day.wday == 6 %>
          <th width=5% class="blue"><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
        <% elsif day.wday == 0 %>
          <th width=5% class="red"><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
        <% else %>
          <th width=5%><%= day.strftime('%-m/%-d') %><br>(<%= $days_of_the_week[day.wday] %>)</th>
        <% end %>
      <% end %>
    </tr>
    
    <% @kitchen_staffs.each do |staff| %>
      <tr>
        <td>キッチン</td>
        <td><%= staff.name %></td>
        <% @current_shifts.each do |day| %>
          <% if @user.admin? && start_and_end_time_of_shift(staff, day) %>
            <td>
              <%= link_to(edit_user_shift_path(staff, @shift, current: true), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            </td>
          <% elsif @user.admin? && empty_shift(staff, day) %>
            <td>
              <%= link_to(add_user_shift_path(staff, @empty_shift), remote: true) do %>
                <div></div>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= start_and_end_time_of_shift(staff, day) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    
    <% @hole_staffs.each do |staff| %>
      <tr>
        <td>ホール</td>
        <td><%= staff.name %></td>
        <% @current_shifts.each do |day| %>
          <% if @user.admin? && start_and_end_time_of_shift(staff, day) %>
            <td>
              <%= link_to(edit_user_shift_path(staff, @shift, current: true), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            </td>
          <% elsif @user.admin? && empty_shift(staff, day) %>
            <td>
              <%= link_to(add_user_shift_path(staff, @empty_shift), remote: true) do %>
                <div></div>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= start_and_end_time_of_shift(staff, day) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    
    <% @wash_staffs.each do |staff| %>
      <tr>
        <td>洗い場</td>
        <td><%= staff.name %></td>
        <% @current_shifts.each do |day| %>
          <% if @user.admin? && start_and_end_time_of_shift(staff, day) %>
            <td>
              <%= link_to(edit_user_shift_path(staff, @shift, current: true), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            </td>
          <% elsif @user.admin? && empty_shift(staff, day) %>
            <td>
              <%= link_to(add_user_shift_path(staff, @empty_shift), remote: true) do %>
                <div></div>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= start_and_end_time_of_shift(staff, day) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    
    <% @newcomer_staffs.each do |staff| %>
      <tr>
        <td>未登録</td>
        <td><%= staff.name %></td>
        <% @current_shifts.each do |day| %>
          <% if @user.admin? && start_and_end_time_of_shift(staff, day) %>
            <td>
              <%= link_to(edit_user_shift_path(staff, @shift, current: true), remote: true) do %>
                <div><%= start_and_end_time_of_shift(staff, day) %></div>
              <% end %>
            </td>
          <% elsif @user.admin? && empty_shift(staff, day) %>
            <td>
              <%= link_to(add_user_shift_path(staff, @empty_shift), remote: true) do %>
                <div></div>
              <% end %>
            </td>
          <% else %>
            <td>
              <%= start_and_end_time_of_shift(staff, day) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if @shifts.count > 0 %>
  <div class="personal-shifts-title"><%= @user.name %>のシフト</div>
  <table class="table table-bordered table-condensed" id="personal-current-shifts-table">
    <tr>
      <th width=8%>日付</th>
      <th width=9%>希望出勤時間</th>
      <th width=9%>希望退勤時間</th>
      <th width=28%>従業員コメント</th>
      <th width=9%>出勤時間</th>
      <th width=9%>退勤時間</th>
      <th width=28%>管理者コメント</th>
    </tr>
    <% @shifts.each do |shift| %>
      <tr>
        <td><%= shift.worked_on.strftime('%-m/%-d') %> (<%= $days_of_the_week[shift.worked_on.wday] %>)</td>
        <td>
          <% if shift.request_start_time.present? %>
            <%= shift.request_start_time %>
          <% else %>
          --
          <% end %>
        </td>
        <td>
          <% if shift.request_end_time.present? %>
            <%= shift.request_end_time %>
          <% else %>
          --
          <% end %>
        </td>
        <td><%= shift.from_staff_msg %></td>
        <td><%= shift.start_time %></td>
        <td><%= shift.end_time %></td>
        <td><%= shift.from_admin_msg %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<div class="modal fade" id="edit-shift-modal" tabindex="-1"></div>
<div class="modal fade" id="add-shift-modal" tabindex="-1"></div>