<% provide(:button_text, '更新') %>

<% if @attendance.break_start_time.present? || @attendance.break_end_time.present? %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">出退勤情報編集</h1>
      </div>
      <div class="modal-body">
        <%= form_with(model: @attendance, url: update_attendance_management_info_attendance_path, local: true, method: :patch) do |f| %>
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th class="salary-management-table">年月日</th>
                <th class="salary-management-table">スタッフ名</th>
                <th class="salary-management-table">出勤時間</th>
                <th class="salary-management-table">退勤時間</th>
                <th class="salary-management-table">休憩開始時間</th>
                <th class="salary-management-table">休憩終了時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <!-- 日付 -->
              <td class="center"><%= l(@attendance.day.to_date, format: :long) %></td>
              <!-- スタッフ名 -->
              <td class="center"><%= @attendance.user.name %></td>
              <!-- 出勤時間 -->
              <td class="center"><%= f.time_select :work_start_time, class: 'form-control' %></td>
              <!-- 退勤時間 -->
              <td class="center"><%= f.time_select :work_end_time, class: 'form-control' %></td>
              <!-- 休憩開始時間 -->
              <td class="center"><%= f.time_select :break_start_time, class: 'form-control' %></td>
              <!-- 休憩終了時間 -->
              <td class="center"><%= f.time_select :break_end_time, class: 'form-control' %></td>
            </tbody>
          </table>
          
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <%= link_to "出退勤から外す", attendance_path(@attendance), method: :delete, data: { confirm: "出退勤から外してよろしいですか？" }, class: "btn btn-danger" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% elsif @attendance.break_start_time.blank? || @attendance.break_end_time.blank? %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">出退勤情報編集</h1>
      </div>
      <div class="modal-body">
        <%= form_with(model: @attendance, url: update_attendance_management_info_attendance_path, local: true, method: :patch) do |f| %>
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <th class="salary-management-table">年月日</th>
                <th class="salary-management-table">スタッフ名</th>
                <th class="salary-management-table">出勤時間</th>
                <th class="salary-management-table">退勤時間</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <!-- 日付 -->
              <td class="center"><%= l(@attendance.day.to_date, format: :long) %></td>
              <!-- スタッフ名 -->
              <td class="center"><%= @attendance.user.name %></td>
              <!-- 出勤時間 -->
              <td class="center"><%= f.time_select :work_start_time, class: 'form-control' %></td>
              <!-- 退勤時間 -->
              <td class="center"><%= f.time_select :work_end_time, class: 'form-control' %></td>
            </tbody>
          </table>
          <div class="center">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <%= link_to "出退勤から外す", attendance_path(@attendance), method: :delete, data: { confirm: "出退勤から外してよろしいですか？" }, class: "btn btn-danger" %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
  