<% provide(:title, "出退勤管理") %>
<div class="row">    
  <div class="col-md-11 col-md-offset-0">
    <%= form_with method: :get, local: true do |f| %> 
      <br>
      <br>
      <%= f.label :name, "スタッフ検索" %>         
      <div class="year-month-day-label">  
        <%= f.label :day, "年月検索" %>   
      </div>  
      <br>   
      <div class="staff-select-field">     
        <%= f.collection_select :user_id, @staffs, :id, :name, {prompt: "スタッフを選択"}, {class: "form-control"} %>
      </div>    
      <div class="day-label">
        <%= f.date_select :day, {:discard_day => true, :include_blank => true, :start_year => Time.now.year, :end_year => Time.now.year-5}, class: "form-control" %>
      </div>
      <%= f.submit "表示する", class: "btn btn-md btn-primary" %>   
      <br>      
      <br>        
      <%= f.label :day, "年月日検索" %>   
      <br>       
      <div class="year-month-select-field">           
        <%= f.date_field :day, class: "form-control" %>    
      </div>           
      <%= f.submit "表示する", class: "btn btn-md btn-primary" %>   
    <% end %>
    <div class="col-xs-5 col-xs-offset-5" style="margin-top: -135px; margin-left: 590px;">
      <% if Attendance.where(user_id: @staffs).where(work_end_time: nil).count > 0 %>
        <h2 class="notification"><%= link_to "※退勤ボタン未押下：#{Attendance.where(user_id: @staffs).where(work_end_time: nil).count}件", attendance_management_notice_attendance_path, remote: true, class: "notice" %></h2>
      <% else %>
        <h2 class="non-departure">退勤ボタン未押下：なし</h2>
      <% end %>
    </div>
    <div class="col-xs-5 col-xs-offset-5" style="margin-top: -105px; margin-left: 550px;">   
      <table class="table table-bordered table-condensed table-striped"> 
        <thead>    
          <tr>
            <th class="attendance-management-table">本日の出勤者数</th>  
            <th class="attendance-management-table">本日の出勤予定人数</th>
          </tr>        
        </thead> 
        <tbody>    
          <tr>
            <% if Attendance.where(day: Date.current).where.not(work_start_time: nil).count > 0 %>
              <td class="center"><%= Attendance.where(day: Date.current).where.not(work_start_time: nil).count %>名</td>
            <% else %>
              <td class="center">0名</td>
            <% end %>
            <% if Shift.where(user_id: @staffs.ids, worked_on: Date.current).where("start_time LIKE ?", "%:%").count > 0 %>
              <td class="center"><%= Shift.where(user_id: @staffs.ids, worked_on: Date.current).where("start_time LIKE ?", "%:%").count %>名</td>
            <% else %>
              <td class="center">0名</td>
            <% end %>
          </tr>   
        </tbody> 
      </table>
    </div>
    <div class="col-xs-5 col-xs-offset-5" style="margin-top: -20px; margin-bottom: 20px; margin-left: 550px;" >
      <%= link_to "出退勤新規登録", new_attendance_management_info_attendance_path, remote: true, class: "btn btn-lg btn-primary" %>
    </div>
    </div>
    <% if params[:day].present? || params[:user_id].present? %> 
      <% if @attendances.count > 0  %>          
        <table class="table table-bordered table-condensed table-striped" >       
          <thead>                     
            <tr>           
              <th class="attendance-management-table">出退勤編集</th>   
              <th class="attendance-management-table">年月日</th>     
              <th class="attendance-management-table">スタッフ名</th>     
              <th class="attendance-management-table">出勤状況</th>        
              <th class="attendance-management-table">出勤時間</th>       
              <th class="attendance-management-table">退勤時間</th>                 
              <th class="attendance-management-table">休憩開始時間</th>        
              <th class="attendance-management-table">休憩終了時間</th>      
            </tr>              
          </thead>   
          <% @attendances.each do |at| %>
            <tbody>                   
              <tr>                   
                <td class="center"><%= link_to "編集", attendance_management_info_attendance_path(at), remote: true, class: "btn btn-sm btn-primary" %></td>    
                <td class="center"><%= l(at.day.to_date, format: :long) %></td>           
                <td class="center"><%= at.user.name %></td>           
                <% if !at.work_start_time.present? && !at.break_start_time.present? && !at.break_end_time.present? && !at.work_end_time.present? %>  
                  <td class="center">未出勤</td>           
                <% elsif at.work_start_time.present? && !at.break_start_time.present? && !at.break_end_time.present? && !at.work_end_time.present? %>  
                  <td class="center">出勤中</td> 
                <% elsif at.work_start_time.present? && at.break_start_time.present? && !at.break_end_time.present? && !at.work_end_time.present? %>   
                  <td class="center">休憩中</td>    
                <% elsif at.work_start_time.present? && at.break_start_time.present? && at.break_end_time.present? && !at.work_end_time.present? %> 
                  <td class="center">出勤中(休憩済)</td> 
                <% elsif at.work_start_time.present? && (at.break_start_time.present? || !at.break_start_time.present?) && (at.break_end_time.present? || !at.break_end_time.present?) && at.work_end_time.present? %>
                  <td class="center">退勤済</td>                 
                <% end %>
                <td class="center"><%= l(at.work_start_time, format: :time) if at.work_start_time.present? %></td> 
                <td class="center"><%= l(at.work_end_time, format: :time) if at.work_end_time.present? %></td>
                <% if at.break_start_time.present? %>          
                  <td class="center"><%= l(at.break_start_time, format: :time) %></td> 
                <% else %>                         
                  <td class="center"></td>     
                <% end %>              
                <% if at.break_end_time.present? %>  
                  <td class="center"><%= l(at.break_end_time, format: :time) %></td> 
                <% else %>                              
                  <td class="center"></td>       
                <% end %>                    
              </tr>                   
            </tbody> 
          <% end %>    
        </table>    
      <% else %>  
        <h4>出退勤データはありません</h4> 
      <% end %>  
    <% end %> 
  </div>   
</div>
        
<!-- モーダルウィンドウ表示 -->

<!-- 出退勤編集 -->
<div id="attendance_management_info" class="modal fade" tabindex="-1" rule="dialog" area-hidden="true"></div>

<!-- 退勤押下していないスタッフ表示 -->
<div id="attendance_management_notice" class="modal fade" tabindex="-1" rule="dialog" area-hidden="true"></div>

<!-- 出退勤新規登録 -->
<div id="new_attendance_management_info" class="modal fade" tabindex="-1" rule="dialog" area-hidden="true"></div>