<div class="row">
  <div>
    <%= form_with url: user_attendances_path(@user), method: :get, local: true do |f| %>
      <div class="form-inline">
        <%= f.label "年月日検索　：" %>
        <%= f.date_field :start_date, class: "form-control" %> 〜 <%= f.date_field :end_date, class: "form-control" %>
      </div>
      <div class="form-inline form-attendance-list-staff-seach">
        <%= f.label "スタッフ検索：" %>
        <%= f.collection_select(:staff, @staff, :id, :name, {prompt: "スタッフを選択"},
              {class: "form-control form-attendance-list-staff"}) %>
      </div>
      <div class="form-inline">
        <div class="today-flg-position">
          <%= f.check_box(:today_flg, {class: "form-control today-flg-box"}) %>
          <%= f.label "本日の出退勤" %>
        </div>
      </div>
      <div class="center">
        <%= f.submit "表示する", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<!--日付、スタッフ名、本日チェックいずれかを入力して表示する押下時-->
<% if (params[:start_date] && params[:start_date].present?) || (params[:staff] && params[:staff].present?) || (params[:end_date] && params[:end_date].present?) || (params[:today_flg] == "1")%>
  <% if @attendance_lists %>
    <% if @attendance_lists.count > 0 %>
      <table class="table table-bordered table-condensed table-attendance-list">
        <tr>
          <th>日時</th>
          <th>スタッフ名</th>
          <th>出勤状況</th>
          <th>出勤時間</th>
          <th>退勤時間</th>
          <th>休憩開始時間</th>
          <th>休憩終了時間</th>
        </tr>
        <% @attendance_lists.each do |obj| %>
          <tr>
            <td><%= obj.day %></td>
            <!--実際のidと配列では1ずれるため、-1をつける-->
            <td><%= @users[obj.user_id-1].name %></td>
            <td>
              <!--出勤ボタン押下前、または退勤ボタン押下後に退勤中を表示-->
              <% if obj.nil? || obj.work_end_time %>
                <p>退勤中</p>
              <!--出勤ボタン押下後、かつ休憩開始ボタン押下前、かつ休憩終了ボタン押下前に出勤中を表示-->
              <% elsif obj && obj.break_start_time.nil? && obj.break_end_time.nil? %>
                <p>出勤中</p>
              <!--出勤ボタン押下後、かつ休憩開始ボタン押下後、かつ休憩終了ボタン押下前に休憩中を表示-->
              <% elsif obj && obj.break_start_time && obj.break_end_time.nil? %>
                <p>休憩中</p>
              <!--出勤ボタン押下後、かつ休憩開始ボタン押下後、かつ休憩終了ボタン押下後に出勤中を表示-->
              <% elsif obj && obj.break_start_time && obj.break_end_time %>
                <p>出勤中</p>
              <% end %>
            </td>
            <td><%= obj.work_start_time.hour %>:<%= obj.work_start_time.min %></td>
            <td>
              <!--退勤時間が存在する場合のみ表示-->
              <% if obj.work_end_time %>
                <%= obj.work_end_time.hour %>:<%= obj.work_end_time.min %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <!--休憩開始時間が存在する場合のみ表示-->
              <% if obj.break_start_time %>
                <%= obj.break_start_time.hour %>:<%= obj.break_start_time.min %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <!--休憩終了時間が存在する場合のみ表示-->
              <% if obj.break_end_time %>
                <%= obj.break_end_time.hour %>:<%= obj.break_end_time.min %>
              <% else %>
                -
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @attendance_lists %>
    <% else %>
      <p class="center">検索結果はございませんでした。</p>
    <% end %>
  <% else %>
    <p class="center">検索結果はございませんでした。</p>
  <% end %>
<% end %>
<script type="text/javascript">
</script>