<div class="row">
  <div class="col-xs-6">
    <% if @attendance.nil? || @attendance[0].work_end_time %>
      <h1 class="text-left work-status-border">退勤中</h1>
    <% elsif @attendance && @attendance[0].break_start_time.nil? && @attendance[0].break_end_time.nil? %>
      <h1 class="text-left work-status-border">出勤中</h1>
    <% elsif @attendance && @attendance[0].break_start_time && @attendance[0].break_end_time.nil? %>
      <h1 class="text-left work-status-border">休憩中</h1>
    <% elsif @attendance && @attendance[0].break_start_time && @attendance[0].break_end_time %>
      <h1 class="text-left work-status-border">出勤中</h1>
    <% end %>
    
    <h2 id="RealDateArea"></h2>
    <h1 id="RealtimeClockArea"></h1>
    <% if @attendance.nil? || @attendance[0].work_end_time %>
      <%= link_to "出勤", user_attendances_path(current_user), method: :post, class: "btn btn-primary btn-block" %>
    <% elsif @attendance && @attendance[0].break_start_time.nil? && @attendance[0].break_end_time.nil? %>
      <%= link_to "休憩開始", users_attendances_breakstart_path(current_user), method: :patch, class: "btn btn-primary btn-block" %>
      <%= link_to "退勤", user_attendance_path(current_user), method: :patch, class: "btn btn-primary btn-block" %>
    <% elsif @attendance && @attendance[0].break_start_time && @attendance[0].break_end_time.nil? %>
      <%= link_to "休憩終了", users_attendances_breakend_path(current_user), method: :patch, class: "btn btn-primary btn-block" %>
    <% elsif @attendance && @attendance[0].break_start_time && @attendance[0].break_end_time %>
      <%= link_to "退勤", user_attendance_path(current_user), method: :patch, class: "btn btn-primary btn-block" %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h1>出勤中従業員一覧</h1>
    <% if @attendances.count > 0 %>
      <table class="table teble-condensed table-bordered" id="workind-staffs-table">
        <tr>
          <th width=10%>ID</th>
          <th width=20%>名前</th>
          <th width=15%>出勤時間</th>
          <th width=20%>休憩開始時間</th>
          <th width=20%>休憩終了時間</th>
          <th width=15%>退勤時間</th>
        </tr>
        <% @attendances.each do |attendance| %>
          <tr>
            <td><%= attendance.user_id %></td>
            <td><%= User.find(attendance.user_id).name %></td>
            <td><%= attendance.work_start_time.strftime('%H:%M') %></td>
            <td><%= attendance.break_start_time.strftime('%H:%M') if attendance.break_start_time.present? %></td>
            <td><%= attendance.break_end_time.strftime('%H:%M') if attendance.break_end_time.present? %></td>
            <td><%= attendance.work_end_time.strftime('%H:%M') if attendance.work_end_time.present? %></td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>

<script type="text/javascript">
   <%= raw Rails.application.assets["register.js"].to_s %>
</script>