<div class="row">
  <div class="col-xs-6">
    <%= form_with url: users_attendances_register_path(current_user), method: :get, local: true do |f| %>
      <div class="form-inline">
        <%= f.label "ID　：" %>
        <%= f.text_field :input_id, value: params[:input_id], class: "form-control" %>
      </div>
      <div class="form-inline form-attendance-list-staff-seach">
        <%= f.label "パスワード：" %>
        <%= f.text_field :input_password, value: params[:input_password], class: 'form-control' %>
      </div>
      <div class="center">
        <%= f.submit "勤務時間を登録する", class: "btn btn-md btn-primary" %>
      </div>
    <% end %>
    <h2 id="RealDateArea"></h2>
    <h1 id="RealtimeClockArea"></h1>
    <% if (params[:input_id].present?) && (params[:input_id] != "") && (params[:input_password].present?) && (params[:input_password] != "") %>
      <% if @attendance[0].nil? %>
        <%= link_to "出勤", user_attendances_path(@attendance_staff), method: :post, class: "btn btn-primary btn-block" %>
      <% end %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <h1>出勤中従業員一覧</h1>
  </div>
</div>

<script type="text/javascript">
   <%= raw Rails.application.assets["register.js"].to_s %>
</script>