<div class="row">
  <div class="col-xs-6">
    <div class="date-and-time">
      <h1><%= Date.current.strftime("%Y年%m月%d日") %></h1>
      <h1 id="RealtimeClockArea"></h1>
    </div>
    <%= form_with url: users_attendances_register_path(current_user), method: :get, local: true do |f| %>
      <div class="form-inline search-staff-area">
        <div class="form-group id-form">
          <%= f.label "ID：", class: "attendance-label" %>
          <%= f.number_field :input_id, value: params[:input_id], class: "form-control", id: "attendance_id", min: "1" %>
        </div>
        <!--20200609_出退勤画面からパスワード入力を省略delete_start-->
        <!--<div class="form-group password-form">-->
          <%#<%= f.label "パスワード：" %>
          <%#<%= f.password_field :input_password, value: params[:input_password], size: "15", class: 'form-control' %>
        <!--</div>-->
        <!--20200609_出退勤画面からパスワード入力を省略delete_end-->
        <div class="form-group">
          <%= f.submit "勤務時間を登録する", class: "btn btn-md btn-primary" %>
        </div>
      </div>
    <% end %>
    <div class="register-attendance-area">
      <!--「勤務時間を登録する」押下後-->
      <!--20200609_出退勤画面からパスワード入力を省略edit_start-->
      <%#<% if (params[:input_id].present?) && (params[:input_id] != "") && (params[:input_password].present?) && (params[:input_password] != "") %>
      <% if (params[:input_id].present?) && (params[:input_id] != "") %>
      <!--20200609_出退勤画面からパスワード入力を省略edit_end-->
        <% if @attendances %>
          <!--「出勤ボタン押下前の場合」-->
          <% if @attendances[0].nil? || @attendances[0].work_end_time %>
            <h1><%= User.find(params[:input_id]).name %></h1>
            <div class="register-btn-area">
              <%= link_to "出勤", user_attendances_path(params[:input_id]), method: :post, class: "btn btn-primary btn-block" %>
            </div>
          <% elsif @attendances && @attendances[0].break_start_time.nil? && @attendances[0].break_end_time.nil? %>
            <h1><%= User.find(params[:input_id]).name %></h1>
            <div class="register-btn-area">
              <%= link_to "休憩開始", users_attendances_breakstart_path(params[:input_id]), method: :patch, class: "btn btn-primary btn-block" %>
            </div>
            <div class="register-btn-area">
              <%= link_to "退勤", user_attendance_path(params[:input_id]), method: :patch, class: "btn btn-primary btn-block btn-danger" %>
            </div>
          <% elsif @attendances && @attendances[0].break_start_time && @attendances[0].break_end_time.nil? %>
            <h1><%= User.find(params[:input_id]).name %></h1>
            <div class="register-btn-area">
              <%= link_to "休憩終了", users_attendances_breakend_path(params[:input_id]), method: :patch, class: "btn btn-primary btn-block" %>
            </div>
          <% elsif @attendances && @attendances[0].break_start_time && @attendances[0].break_end_time %>
            <h1><%= User.find(params[:input_id]).name %></h1>
            <div class="register-btn-area">
              <%= link_to "退勤", user_attendance_path(params[:input_id]), method: :patch, class: "btn btn-primary btn-block" %>
            </div>
          <% end %>
          <div class="register-btn-area">
            <%= link_to "キャンセル", users_attendances_register_path(current_user), class: "btn btn-default btn-block" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="col-xs-6 attendance-border">
    <h1>出勤中従業員一覧</h1>
    <% if @attendance_staff_lists.count > 0 %>
      <table class="table teble-condensed table-bordered" id="workind-staffs-table">
        <tr>
          <th width=10%>ID</th>
          <th width=20%>名前</th>
          <th width=15%>出勤時間</th>
          <th width=20%>休憩開始時間</th>
          <th width=20%>休憩終了時間</th>
          <th width=15%>退勤時間</th>
        </tr>
        <% @attendance_staff_lists.reverse_each do |attendance| %>
          <tr>
            <td><%= attendance.user_id %></td>
            <td><%= User.find(attendance.user_id).name %></td>
            <td><%= attendance.work_start_time.strftime('%H:%M') %></td>
            <td><%= attendance.break_start_time.strftime('%H:%M') if attendance.break_start_time.present? %></td>
            <td><%= attendance.break_end_time.strftime('%H:%M') if attendance.break_end_time.present? %></td>
            <td><%= attendance.work_end_time.strftime('%H:%M') if attendance.work_end_time.present? %></td>
          </tr>
        <% end %>
      </table>
      <%= will_paginate @attendance_staff_lists %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
   <%= raw Rails.application.assets["register.js"].to_s %>
</script>