<% provide(:title, "給与管理") %>
<div class="row">
  <div class="col-md-11 col-md-offset-0">
    <br>
    <%= form_with method: :get, local: true do |f| %> 
      <br>             
      <%= f.label :name, "スタッフ検索" %>         
      <div class="year-month-day-label">  
        <%= f.label :day, "年月検索" %>   
      </div>  
      <br>   
      <div class="staff-select-field">     
        <%= f.collection_select :user_id, @staffs, :id, :name, {prompt: "スタッフを選択"}, {class: "form-control"} %>
      </div>    
      <div class="day-label">
        <%= f.date_select :day, {:discard_day => true, :include_blank => true, :start_year => Time.now.year, :end_year => Time.now.year-5}, class: "form-control" %>
        <%= f.submit "表示する", class: "btn btn-md btn-primary" %>
      </div>
      <br>      
      <br>        
      <%= f.label :day, "年月日検索" %>   
      <br>       
      <div class="year-month-select-field">           
        <%= f.date_field :day, class: "form-control" %>
        <%= f.submit "表示する", class: "btn btn-md btn-primary" %>  
      </div>
    <% end %>
    <% if params[:day].present? || params[:user_id].present? %>
      <% if @attendances.count > 0 %>
          <table class="table table-bordered table-condensed table-striped" style="margin-top: 40px;">
            <thead>
              <tr>
                <th class="salary-management-table">年月日</th>
                <th class="salary-management-table">スタッフ名</th>
                <th class="salary-management-table">出勤時間</th>
                <th class="salary-management-table">退勤時間</th>
                <th class="salary-management-table">休憩開始時間</th>
                <th class="salary-management-table">休憩終了時間</th>
                <th class="salary-management-table">日給</th>
              </tr>
            </thead>
              <% @attendances.each do |at| %>
                <tbody>
                  <tr>
                    <td class="center"><%= l(at.day.to_date, format: :long) %></td>
                    <td class="center"><%= at.user.name %></td>
                    <td class="center"><%= l(at.work_start_time, format: :time) if at.work_start_time.present? %></td>
                    <td class="center"><%= l(at.work_end_time, format: :time) if at.work_end_time.present? %></td>
                    <% if at.break_start_time.present? %>
                      <td class="center"><%= l(at.break_start_time, format: :time) %></td>
                    <% else %>
                      <td class="center"></td>
                    <% end %>
                    <% if at.break_end_time.present? %>
                      <td class="center"><%= l(at.break_end_time, format: :time) %></td>
                    <% else %>
                      <td class="center"></td>
                    <% end %>
                    <% if at.work_start_time.present? && at.work_end_time.present? %>  
                      <td class="center">¥<%= at.salary %></td>
                      <!-- 給与合計を算出するために、インスタンス変数(@total_salary)に繰り返しプラスされながら代入される -->
                      <% @total_salary = @total_salary.to_i + at.salary.to_i %>
                    <% else %>
                      <td></td>
                    <% end %>
                  </tr>
                </tbody>
                <% if at.work_start_time.present? && at.work_end_time.present? %>
                  <!--通常勤務時間の算出-->
                  <!-- 出社時間、退社時間ともに22時を過ぎていないかつ休憩がない場合、勤務開始時間、勤務終了時間を使用して算出-->
                  <% if (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 10 && at.work_end_time.hour <= 21) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && !(at.break_start_time.present? && at.break_end_time.present?) %>
                    <% no_overtime_no_breaktime = (at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0)).to_f %>
                  <!-- 出社時間、退社時間ともに22時を過ぎていないかつ休憩がない場合、勤務開始時間、勤務終了時間を使用して算出-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && ((at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) || (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3)) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && !(at.break_start_time.present? && at.break_end_time.present?) %>
                    <% overtime_no_breaktime = (22.0 - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                  <!-- 出社時間、退社時間ともに22時を過ぎていないかつ休憩がある場合、勤務開始時間、休憩開始時間、休憩終了時間、勤務終了時間を使用して算出-->
                  <% elsif ((at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 10 && at.work_end_time.hour <= 21)) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) %>
                    <% no_overtime_existing_breaktime = total_time(at.work_start_time.ceil_to(15.minutes), at.break_start_time, at.break_end_time, at.work_end_time.floor_to(15.minutes)).to_f %>
                  <!-- 出社時間が22時を過ぎておらず勤務終了時間が22時を超えており、休憩が22時以前の場合、22時までの通常時間に休憩時間も加味して計算-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && ((at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) || (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3)) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) && (at.break_start_time.hour >= 10 && at.break_start_time.hour <= 21) && (at.break_end_time.hour >= 10 && at.break_end_time.hour <= 21) %>
                    <% overtime_existing_no_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                  <!-- 出社時間が22時を過ぎておらず勤務終了時間が22時を超えており、休憩があり、さらに退勤時間が22時の場合、22時までの通常時間を計算-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && ((at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) || (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3)) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) && (at.break_start_time.hour >= 10 && at.break_start_time.hour <= 21) && (at.break_end_time.hour == 22) %>
                    <% if at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0  %>
                      <% overtime_existing_no_overtime_breaktime_break_end_time_equal_22hours = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - ((at.work_start_time.hour + 1) + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% else %>
                      <% overtime_existing_no_overtime_breaktime_break_end_time_equal_22hours = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% end %>
                  <!-- 出社時間が22時を過ぎておらず勤務終了時間が22時を超えており、休憩が22時を超えている場合、22時までの通常時間を計算(休憩時間は考慮に入れない)-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && ((at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) || (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3)) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 22 && at.break_end_time.hour <= 24) %>
                    <% if at.work_start_time.ceil_to(15.minutes).min != 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.work_start_time.hour + 1.00) + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% else %>
                      <% overtime_existing_overtime_breaktime = (22.0 - (((at.break_end_time.hour + 1.00) + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% end %>
                  <!-- 出社時間が22時を過ぎておらず勤務終了時間が22時を超えており、休憩が22時を超えている場合、22時までの通常時間を計算(休憩時間は考慮に入れない)-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) %>
                    <% if at.work_start_time.ceil_to(15.minutes).min != 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0- (((at.break_end_time.hour + 24.0) + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0  - ((at.work_start_time.hour + 1.00) + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - (((at.break_end_time.hour + 24.0) + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% else %>
                      <% overtime_existing_overtime_breaktime = (22.0 - (((at.break_end_time.hour + 25.0) + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% end %>
                  <!-- 出社時間が22時を過ぎておらず勤務終了時間が22時を超えており、休憩が22時を超えている場合、22時までの通常時間を計算(休憩時間は考慮に入れない)-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 3) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.present? && at.break_end_time.present?) && (at.break_start_time.hour >= 0 && at.break_start_time.hour <= 3) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) %>
                    <% if at.work_start_time.ceil_to(15.minutes).min != 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.work_start_time.hour + 1.00) + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% elsif at.work_start_time.hour == 21 && at.work_start_time.min == 0 %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% else %>
                      <% overtime_existing_overtime_breaktime = (22.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)) - (at.break_start_time.hour + (at.break_start_time.min / 60.0))) - ((at.work_start_time.hour + 1.00) + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                    <% end %>
                  <% end %>
                  <% @total_non_overtime = @total_non_overtime.to_f + no_overtime_no_breaktime.to_f + overtime_no_breaktime.to_f + no_overtime_existing_breaktime.to_f + overtime_existing_no_overtime_breaktime.to_f + overtime_existing_no_overtime_breaktime_break_end_time_equal_22hours.to_f + overtime_existing_overtime_breaktime.to_f %>
                  <!--深夜残業時間の算出-->
                  <!-- 退社時間が22時以降の場合、22時以降の在社時間を算出-->
                  <% if (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0).to_f %>
                    <% end %>
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 10 && at.break_start_time.hour <= 21) && (at.break_end_time.hour >= 10 && at.break_end_time.hour <= 21) %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f %>
                    <% end %>
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 10 && at.break_start_time.hour <= 21) && at.break_end_time.hour == 22 %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0).to_f %>
                    <% end %>
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 10 && at.break_start_time.hour <= 21) && at.break_end_time.hour == 22 %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %>
                      <% overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f %>
                    <% end %>
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 22 && at.break_end_time.hour <= 24) %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %>
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f %>
                    <% end %>
                  <!-- 退社時間が0時以降の場合、0時以降の在社時間を算出-->
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %> 
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f %>
                    <% end %>
                  <% elsif (at.work_start_time.hour >= 10 && at.work_start_time.hour <= 21) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) && (at.break_start_time.hour >= 0 && at.break_start_time.hour <= 3) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) %>
                    <% if at.work_start_time.hour == 21 && at.work_start_time.min != 0 && at.work_start_time.ceil_to(15.minutes).min == 0 %>
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                    <% else %> 
                      <% tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)) - 22.0 + 24.0).to_f %>
                    <% end %>
                  <% end %>
                  <% @total_overtime_and_tomorrow_overtime = @total_overtime_and_tomorrow_overtime.to_f + overtime.to_f + tomorrow_overtime.to_f %>
                  <!--深夜残業時間の算出-->
                  <!-- 出勤時間が22時以降で、退社時間が22時以降の場合、22時以降の在社時間を算出-->
                  <% if (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24) && at.break_start_time.present? && at.break_end_time.present? && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 22 && at.break_end_time.hour <= 24) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_overtime =  ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                  <!-- 出勤時間が22時以降で、退社時間が22時以降の場合、22時以降の在社時間を算出-->
                  <% elsif (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 22 && at.work_end_time.hour <= 24)  && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_overtime =  ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                  <!-- 出勤時間が22時以降で、退社時間が22時以降の場合、22時以降の在社時間を算出-->
                  <% elsif (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 0  && at.work_end_time.hour <= 3) && at.break_start_time.blank? && at.break_end_time.blank? && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_overtime =  (((at.work_end_time.hour + 24.0) + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f %>
                  <!-- 出勤時間が22時以降で、退社時間が22時以降の場合、22時以降の在社時間を算出-->
                  <% elsif (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && at.break_start_time.present? && at.break_end_time.present? && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 22 && at.break_end_time.hour <= 24) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_overtime =  (((at.work_end_time.hour + 24.0) + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                  <!-- 出勤時間が22時以降で、退社時間が0時以降の場合、0時以降の在社時間を算出-->  
                  <% elsif (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && at.break_start_time.present? && at.break_end_time.present? && (at.break_start_time.hour >= 22 && at.break_start_time.hour <= 24) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f + 24.0 - (((at.break_end_time.hour + 24.0) + (at.break_end_time.min / 60.0)).to_f - (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                  <!-- 出勤時間が22時以降で、退社時間が0時以降の場合、0時以降の在社時間を算出-->  
                  <% elsif (at.work_start_time.hour >= 22 && at.work_start_time.hour <= 24) && (at.work_end_time.hour >= 0 && at.work_end_time.hour <= 9) && at.break_start_time.present? && at.break_end_time.present? && (at.break_start_time.hour >= 0 && at.break_start_time.hour <= 9) && (at.break_end_time.hour >= 0 && at.break_end_time.hour <= 3) && !(at.work_start_time.strftime("%H:%M") == at.work_end_time.strftime("%H:%M")) %>
                    <% start_tomorrow_overtime = ((at.work_end_time.hour + (at.work_end_time.floor_to(15.minutes).min / 60.0)).to_f - (at.work_start_time.hour + (at.work_start_time.ceil_to(15.minutes).min / 60.0))).to_f + 24.0 - ((at.break_end_time.hour + (at.break_end_time.min / 60.0)).to_f- (at.break_start_time.hour + (at.break_start_time.min / 60.0)).to_f) %>
                  <% end %>
                  <% @total_start_overtime_and_start_tomorrow_overtime = @total_start_overtime_and_start_tomorrow_overtime.to_f + start_overtime.to_f + start_tomorrow_overtime.to_f %>
                  <!--総合勤務時間の算出-->
                  <!--通常勤務時間と深夜残業時間を合計した時間を算出-->
                  <% @total_work_time =  @total_overtime_and_tomorrow_overtime + @total_start_overtime_and_start_tomorrow_overtime + @total_non_overtime %>
                <% end %>
              <% end %>
          </table>
    
          <table class="table table-bordered table-condensed table-striped">
            <thead>
              <tr>
                <% if params['day(1i)'].present? && params[:user_id].present? %>
                  <th class="salary-management-table">累計日数</th>
                <% end %>
                <th class="salary-management-table">通常勤務時間</th>
                <th class="salary-management-table">深夜残業時間</th>
                <th class="salary-management-table">総合勤務時間</th>
                <th class="salary-management-table">給与合計</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <% if params['day(1i)'].present? && params[:user_id].present? %>
                  <td class="center"><%= @attendances.count %></td>
                <% end %>
                <td class="center"><%= format("%.2f", @total_non_overtime.to_f) %></td>
                <td class="center"><%= format("%.2f", @total_overtime_and_tomorrow_overtime.to_f + @total_start_overtime_and_start_tomorrow_overtime.to_f) %></td>
                <td class="center"><%= format("%.2f", @total_work_time.to_f) %></td>
                <td class="center">¥<%= @total_salary %></td>
              </tr>
            </tbody>
          </table>
      <% else %>
        <h3>給与データはありません</h3>
      <% end %>
    <% end %>
  </div>
</div>