<header class="navbar navbar-fixed-top">
  <div class="container nav-above">
    <nav>
      <div class="row">
        <div class="col-xs-8 col-md-8">
          <%= link_to "シフト管理", root_path, id: "logo" %>
        </div>
        <% if logged_in? %>
          <div class="col-xs-4 col-md-4">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.name %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu dropdown-assemble">
                  <li><%= link_to "チュートリアル", "#" %></li>
                  <li class="divider"></li>
                  <li><%= link_to "設定", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
                </ul>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
  </div>
  <div class="nav-below-assemble">
    <div class="nav-below">
      <div class="container">
        <div class="row">
          <% if logged_in? && current_user.admin? %>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <%= link_to("#", class: "nav-link") do %>
              <div class="nav-item item-1"><span class="text-1">出退勤管理</span></div>
              <% end %>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <%= link_to(shifts_applying_next_shifts_user_path(current_user), class: "nav-link") do %>
              <div class="nav-item item-2"><span class="text-2">シフト管理</span></div>
              <% end %>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <%= link_to(users_path, class: "nav-link") do %>
              <div class="nav-item item-3"><span class="text-3">スタッフ管理</span></div>
              <% end %>
            </div>
            <div class="col-xs-3 col-md-3 col-lg-3">
              <%= link_to("#", class: "nav-link") do %>
              <div class="nav-item item-4"><span class="text-4">給与管理</span></div>
              <% end %>
            </div>
          <% elsif logged_in? %>
            <div class="col-xs-6 col-md-6 col-lg-6 staff-header-btn">
              <%= link_to(shifts_current_shifts_user_path(current_user), class: "nav-link") do %>
              <div class="nav-item item-5" style="z-index: 1;"><span class="text-5">シフト確認</span></div>
              <% end %>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 staff-header-btn">
              <%= link_to(shifts_apply_next_shifts_user_path(current_user), class: "nav-link") do %>
              <div class="nav-item item-6" style="z-index: 1;"><span class="text-6">シフト申請</span></div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  $(function() {
    $('div.item-1').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-1').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-1').css('color', '');
    });
  });
  
  $(function() {
    $('div.item-2').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-2').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-2').css('color', '');
    });
  });
  
  $(function() {
    $('div.item-3').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-3').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-3').css('color', '');
    });
  });
  
  $(function() {
    $('div.item-4').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-4').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-4').css('color', '');
    });
  });
  
  $(function() {
    $('div.item-5').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-5').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-5').css('color', '');
    });
  });
  
  $(function() {
    $('div.item-6').hover(function() {
      $(this).css('background', 'whitesmoke');
      $('span.text-6').css('color', 'dimgray');
    }, function() {
    $(this).css('background', '');
    $('span.text-6').css('color', '');
    });
  });
</script>